.tags {
  background-color: white;
  position: fixed;
  top: 66px;
  left: 262px;
  right: 0;
  height: 40px;
  z-index: 1;
}

.tags-link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;  
  margin-right: 6px;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.tags-link:hover {
  background-color: rgb(184, 184, 184);
  transition: background-color 0.25s;
}

.tags-link-all {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
  background-color: rgb(235, 235, 235);
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;  
  margin-right: 6px;
  cursor: pointer;
}